body {
  font-family: Roboto, "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
  font-size: 81.25%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: rgb(0, 0, 0);
  min-height: 100vh;
}
::-webkit-input-placeholder {
  -webkit-text-security: none;
  color: rgb(117, 117, 117);
  direction: inherit;
  pointer-events: none;
  text-orientation: inherit;
  writing-mode: inherit;
}
* {
  box-sizing: border-box;
}

.logo-bg {
  background: url(../../../src/assets/logo.png) no-repeat;
  background-size: contain;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-slot {
  height: 100%;
  width: 100%;
}

/*遮罩框*/

.ant-select-single .ant-select-selector .ant-select-selection-search-input {
  width: 100%;
  height: 100%;
}
.ant-select.ant-select-auto-complete
  .ant-select-selector
  .ant-select-selection-search
  .ant-select-selection-search-input {
  width: 100%;
  height: 100%;
}

.ant-input-group {
  width: 100%;
  height: 100%;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #4569ff !important;
}
.ant-select.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #4569ff !important;
}
