body {
  font-family: Roboto, "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
  font-size: 81.25%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: rgb(0, 0, 0);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.logo-bg {
  background: url(../../../src/assets/logo.png) no-repeat;
  background-size: contain;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-slot {
  height: 100%;
  width: 100%;
}

/*遮罩框*/
.el-loading-spinner .el-loading-text {
  color: rgba(0, 0, 0, 0.4);
}

.el-loading-spinner .path {
  stroke: rgba(0, 0, 0, 0.4);
}
.el-loading-mask .el-loading-spinner p.el-loading-text{
  font-size: 16px;
}