html {
  color: #000;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  font-family: Roboto, "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
  font-size: 16px;
  background-color: #f6f7f9;
  margin: 0;
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  cursor: default;
  position: relative;
  z-index: 0;
}
::-webkit-input-placeholder {
  -webkit-text-security: none;
  color: rgb(117, 117, 117);
  direction: inherit;
  pointer-events: none;
  text-orientation: inherit;
  writing-mode: inherit;
}

* {
  box-sizing: border-box;
}

.logo-bg {
  background: url(@/assets/logo.png) no-repeat;
  background-size: cover;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.red {
  color: #ed424b;
}

.orange {
  color: #ff6000;
}

.playing-icon {
  display: inline-block;
  width: 10px;
  height: 8px;
  background: url("@/assets/imgs/video/playon-green.gif") no-repeat;
}

/*遮罩框*/

.ant-select-single .ant-select-selector .ant-select-selection-search-input {
  width: 100%;
  height: 100%;
}
.ant-select.ant-select-auto-complete
  .ant-select-selector
  .ant-select-selection-search
  .ant-select-selection-search-input {
  width: 100%;
  height: 100%;
}

.ant-input-group {
  width: 100%;
  height: 100%;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #4569ff !important;
}
.ant-select.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #4569ff !important;
}

.ant-spin-nested-loading .ant-spin-container::after {
  background: none;
}

.ant-spin-nested-loading {
  height: 100%;
}

.ant-image-img {
  cursor: pointer;
}

.ant-page-header.has-breadcrumb {
  padding: 0.8rem;
  background: none;
}
/* 移动端 */
/* .mobile {} */
