a,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.read-main-wrap {
  width: 100%;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light",
    "Microsoft YaHei", sans-serif;
}
.main-text-wrap {
  padding: 45px 45px;
  min-height: calc(100vh - 97px);
}

.text-wrap {
  width: 100%;
  border: 1px solid #d8d8d8;
  background: url("@/assets/imgs/booksContent/basic_bg.png") repeat;
}

.main-text-wrap .text-head {
  position: relative;
  z-index: 5;
  margin-bottom: 12px;
}

.main-text-wrap .text-head h3 {
  font: 24px/32px PingFangSC-Regular, HelveticaNeue-Light,
    "Helvetica Neue Light", "Microsoft YaHei", sans-serif;
  overflow: hidden;
  height: 32px;
  margin-bottom: 12px;
}
.main-text-wrap .text-info {
  font: 12px/16px PingFangSC-Regular, "-apple-system", Simsun;
  height: 34px;
}
.fl {
  float: left;
}
.loaded a {
  transition: color 0.3s, background-color 0.3s;
}
a {
  text-decoration: none;
  color: #262626;
  outline: 0;
}
cite,
em,
i {
  font-style: normal;
}
.main-text-wrap .text-info .info span {
  margin-right: 5px;
}

.main-text-wrap .text-info .info [role="img"] {
  font-size: 16px;
}

.main-text-wrap .text-info .info a {
  font-family: PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light",
    "Microsoft YaHei", sans-serif;
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  float: left;
}

.main-text-wrap .text-info .info i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.read-content {
  position: relative;
  min-height: 120px;
}

.main-text-wrap .read-content p {
  line-height: 1.8;
  overflow: hidden;
  margin: 0.8em 0;
  text-indent: 2em;
  font-size: 18px;
}
p {
  word-wrap: break-word;
  word-break: break-all;
}

.setting-popover {
  position: absolute;
  top: 0px;
  left: 68px;
  background: url(/src/assets/imgs/booksContent/base_theme_popup.png) repeat;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  min-height: 212px;
  max-width: 800px;
  width: 800px;
}

/*移动端*/
.read-main-wrap.mobile .text-info {
  display: none;
}

.read-main-wrap.mobile .read-content p {
  font-size: 1em;
}
