.read-main-wrap {
  font-family: PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light",
    "Microsoft YaHei", sans-serif;
}
.main-text-wrap {
  padding: 3rem 1rem;
}

.text-wrap {
  min-height: calc(100vh - 158px);
  background: url("@/assets/imgs/booksContent/basic_bg.png") repeat;
}

.main-text-wrap .text-head h3 {
  font: 1.5rem PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light",
    "Microsoft YaHei", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.main-text-wrap .text-info {
  font: 12px/16px PingFangSC-Regular, "-apple-system", Simsun;
  height: 34px;
}
.fl {
  float: left;
}

a {
  text-decoration: none;
  color: #262626;
  outline: 0;
}

p {
  word-wrap: break-word;
  word-break: break-all;
}


.main-text-wrap .text-info .info span {
  margin-right: 5px;
}

.main-text-wrap .text-info .info [role="img"] {
  font-size: 16px;
}

.main-text-wrap .text-info .info a {
  font-family: PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light",
    "Microsoft YaHei", sans-serif;
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  float: left;
}

.main-text-wrap .text-info .info i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.read-content {
  position: relative;
  min-height: 120px;
}

.main-text-wrap .read-content p {
  line-height: 1.8;
  overflow: hidden;
  margin: 0.1em 0;
  text-indent: 1em;
  font-size: 1.1rem;
}

.setting-popover {
  position: absolute;
  top: 0px;
  left: 68px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAgMAAABjUWAiAAAADFBMVEX6+fP8+/X+/ff///kbczPAAAACeElEQVQozxXHQUgUUQAG4P8936yzs6VvZNZmN9QxVxiF9OLBoOjtOC6rQq6ygXjI2fCQBdXBg4egtzFGdqkoI+zgBFbqkm3hQSxhFYLotOcubeKhOnVYoqQy+m4f5g5TvpX0xHLbLY9j8SMhJp+Jk4LfAUS2kVRIjILmnwGBTX42PhCVlDJQkIiy2nWAvaJ1h+oFIpJ0hMSYVbyyrgDWshcMpMyL1brPDQKWmduO+KTJ6XeXAMK9Yc3FpD7atyNwg6kt5XgFpLPhjUTFSYVn2abDiugGShwD8JTVRJVo/2ecuKtRb/qc4BK+9TboFfokog4T2Fn6Oqdnsjk90NMS76Rji6E0NmwkPBAZ4Xbkw8KoDAkAbEhkc78e9omxxgxg6qa5HvMv+UZbCV0qmHnSHKl5TxeA2XTCGWekR581mwC5crBH81PznASqB9va3TbkYAjJPLfg5uBfXaJgIgIBv9eessRIhxe7PA7kj6uUMeMaQ/OEQOYRaaHlqH2Gxwsl6E/pwVY5FH7uCypBZPKvDQyVziYBrAkMURe2MOOOxG/eQpp5PF+bFzUV5HtPj9GeiVSNZDELleifYTp9NAjsoiXg4cW+4ZORkdSMB/B74aAdjhsVakhgkugsbmqcDSLEoWp8zRjrux3tli6Q5uM3E+maT99Wy0RiP7tboiuRZle2c6CYeL2kcUc1KvPtQKucogMadKVTQOJYCeyCYlhQQ/Q7Etfd/vBygy9iqy+LyHeF46saCYvW6ingsbA9RBWtdi8GgUXW+oQx9/wP6bAAX1TWeV+CbShZDlQ9xT6SoSxZmKRAkmXb60kzEzkRF+Ccb94BGspGJoN/UzmyR4wjXHAAAAAASUVORK5CYII=)
    repeat;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  min-height: 212px;
  max-width: 800px;
  width: 800px;
}

/*移动端*/
.read-main-wrap.mobile .text-info {
  display: none;
}
