.left-bar-list {
  z-index: 102;
  top: 19px;
  left: 50%;
  margin-left: -468px;
}
.left-bar-list {
  position: fixed;
  width: 60px;
}
.left-bar-list dd {
  position: relative;
  z-index: 100;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  background: url("@/assets/imgs/booksContent/basic_bg.png") repeat;
}

.left-bar-list dd a {
  font: 12px/16px PingFangSC-Regular, "-apple-system", Simsun;
  display: block;
  width: 58px;
  height: 58px;
  transition: none;
  text-align: center;
  padding-top: 10px;
}

.left-bar-list dd:first-child {
  border-top: 1px solid #d8d8d8;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.left-bar-list dd a i {
  font-size: 16px;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto 6px;
  transition: color 0.3s;
  color: #000;
}
.left-bar-list dd a span {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.4);
}

.catalog-list {
  padding: 40px 0 40px 0px;
}

.catalog-list .catalog-tab {
  margin: 0 0 20px 24px;
}
.catalog-tab span.act {
  border-bottom: 1px solid #ed4259;
}
.catalog-list .catalog-tab span {
  font-size: 18px;
  line-height: 22px;
  margin-right: 20px;
  padding: 0 2px 4px;
  cursor: pointer;
  transition: color 0.3s;
  color: #ed4259;
}
.lang {
  font-weight: 500;
}

.catalog-list-wrap .volume-list {
  display: block;
  clear: both;
  margin-right: -4px;
  margin-bottom: 20px;
}
.catalog-list-wrap .volume-list ul {
  overflow: hidden;
  padding-left: 24px;
}
.catalog-list-wrap .volume-list li {
  font: 16px/40px PingFangSC-Regular, HelveticaNeue-Light,
    "Helvetica Neue Light", "Microsoft YaHei", sans-serif;
  float: left;
  width: 368px;
  border-top: 1px solid #f2f2f2;
}
li, ol, ul {
  list-style: none outside none;
}
.catalog-list-wrap {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  min-height: 235px;
  max-height: 450px;
}

.catalog-list-wrap .volume-list li.on a {
  color: #ed4259;
}

