.left-bar-list {
  z-index: 102;
  top: 19px;
  left: 50%;
  margin-left: -468px;
}
.left-bar-list {
  position: fixed;
  width: 60px;
}
.left-bar-list dd {
  position: relative;
  z-index: 100;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  background: url("@/assets/imgs/booksContent/basic_bg.png") repeat;
}

.left-bar-list dd a {
  font: 12px/16px PingFangSC-Regular, "-apple-system", Simsun;
  display: block;
  width: 58px;
  height: 58px;
  transition: none;
  text-align: center;
  padding-top: 10px;
}

.left-bar-list dd:first-child {
  border-top: 1px solid #d8d8d8;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.left-bar-list dd a i {
  font-size: 16px;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto 6px;
  transition: color 0.3s;
  color: #000;
}
.left-bar-list dd a span {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.4);
}

.reader-content {
  background: #ede7da url(@/assets/imgs/booksContent/body_base_bg.png) repeat;
  height: 100%;
  width: 100%;
}

.el-loading-mask{
  background: url("@/assets/imgs/booksContent/basic_bg.png") repeat;
}

.main-read-container {
  position: relative;
  z-index: 100;
  width: 940px;
  margin: 0 auto;
}

/*上、下一章*/
.dib-wrap {
  font-size: 0;
}

.chapter-control {
  height: 70px;
  margin-bottom: 24px;
  text-align: center;
  border: 1px solid #d8d8d8;
  background: url("@/assets/imgs/booksContent/basic_bg.png") repeat;
}
.chapter-control span {
  height: 32px;
  border-right: 1px solid #d8d8d8;
}
.dib-wrap a,
.dib-wrap span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
  word-spacing: normal;
}
.chapter-control a {
  font: 18px/70px PingFangSC-Regular, HelveticaNeue-Light,
    "Helvetica Neue Light", "Microsoft YaHei", sans-serif;
  width: 33.2%;
}

/*上、下一章*/
