.playing-wrap {
  box-sizing: border-box;
  height: 100vh;
  padding: 80px;
}

.playing-main {
  margin: auto;
  position: relative;
  height: 100%;
  min-width: 988px;
  padding-left: 0px;
  padding-right: 350px;
}

.playing-wrap .plp-l {
  width: 100%;
}

.playing-wrap .video-title {
  height: 42px;
  line-height: 42px;
  color: #0f0f1e;
  padding-right: 32px;
  font-size: 30px;
  margin-bottom: 15px;
}

.playing-wrap .plp-l .d-player-wrap {
  width: 100%;
}

.playing-wrap .plp-r {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
}

.playing-wrap .list-title {
  height: 47px;
  padding: 0 16px;
  display: flex;
}
.playing-wrap .list-title h4 {
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #212121;
  font-weight: 400;
  max-width: 220px;
}

.playing-wrap .list-title .mode-change {
  display: block;
  width: 30px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #757575;
  position: relative;
}

.plp-r .list-wrapper {
  max-height: 320px;
  padding: 0 16px;
}

.plp-r .list-wrapper-item {
  margin-bottom: 18px;
}

.plp-r .list-wrapper-item .item-head-wrap {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 10px;
}

.plp-r .list-wrapper-item .item-head-wrap a {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plp-r .list-wrapper-item .album-item {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
}

.plp-r .list-wrapper-item .album-item .album-link {
  display: block;
  background: #f8f8f8;
  border-radius: 2px;
  line-height: 35px;
  font-size: 13px;
  color: #222;
  overflow: hidden;
  padding-left: 15px;
}

.plp-r .list-wrapper-item .album-list {
  margin: 0px;
  padding: 0px;
  margin-top: 12px;
}

.plp-r .list-wrapper-item .album-item .album-link span {
  overflow: hidden;
  margin: auto;
}
.plp-r .list-wrapper-item .album-item .album-link:hover {
  background: #e8fcea;
  color: #00be06;
}

.plp-r .list-wrapper-item .item-head-wrap a:hover {
  color: #00be06;
}

.plp-r .list-wrapper-item.recommend-tip {
  font-size: 12px;
  color: #999;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.plp-r .list-wrapper-item .tip-left.active {
  color: #00cc4c;
}
.album-item.active .playing-icon {
  display: inline-block;
}

.plp-r .list-wrapper-item .album-item.active .album-link {
  background: #e8fcea;
  color: #00be06;
}

.album-item .playing-icon {
  display: none;
  margin-left: 10px;
}

.list-wrapper-item .item-body-wrap {
  max-height: 400px;
  overflow-y: auto;
}
