.playing-wrap {
  box-sizing: border-box;
  height: 100vh;
}

.playing-main {
  margin: auto;
  position: relative;
  height: 100%;
  width: 988px;
  max-width: 1660px;
  min-width: 988px;
  padding-left: 0px;
  padding-right: 350px;
}

.playing-wrap .plp-l {
  width: 100%;
}

.playing-wrap .plp-l .video-use {
  width: 100%;
  height: 100%;
  max-height: 550px;
}
.playing-wrap .plp-l .d-player-wrap {
  width: 100%;
}

.playing-wrap .plp-r {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
}

.playing-wrap .list-title {
  height: 47px;
  padding: 0 16px;
  display: flex;
}
.playing-wrap .list-title h4 {
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #212121;
  font-weight: 400;
  max-width: 220px;
}

.playing-wrap .list-title .mode-change {
  display: block;
  width: 30px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #757575;
  position: relative;
}

.plp-r .list-wrapper {
  max-height: 320px;
  padding: 0 16px;
}

.plp-r .list-wrapper-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.plp-r .list-wrapper-item a {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plp-r .list-wrapper-item a:hover {
  color: #00be06;
}

.plp-r .list-wrapper-item.recommend-tip {
  font-size: 12px;
  color: #999;
  margin-bottom: 12px;
}

.plp-r .list-wrapper-item .tip-left.active {
  color: #00cc4c;
}
.tip-left.active .playing-icon {
  display: inline-block;
}

.tip-left .playing-icon {
  display: none;
}
