.video-wrap .video-item {
  position: relative;
  font-size: 0;
  margin-bottom: 20px;
}

.video-wrap .result-figure {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
  position: relative;
}

.video-wrap .result-figure .icon-br {
  position: absolute;
  bottom: 5px;
  right: 24px;
}

.video-wrap .result-figure .qy-mod-label {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  padding: 0 4px;
  border-radius: 10px;
  word-spacing: 0;
  letter-spacing: 0;
  background: rgba(0, 0, 0, 0.6);
}

.video-wrap .result-right {
  position: relative;
  display: inline-block;
  width: 560px;
  min-height: 236px;
  font-size: 0;
  vertical-align: top;
}

.video-wrap .info-title {
  position: relative;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 0;
}

.video-wrap .info-title .item-type {
  display: inline-block;
  vertical-align: top;
  padding: 2px 5px;
  margin: 6px 5px 0 0;
  font-size: 12px;
  line-height: 1;
  color: #666;
  border: 1px solid #ececec;
  border-radius: 2px;
  background-color: #f8f8f8;
}

.video-wrap .info-title .item-title {
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
  /* color: #222; */
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-wrap .info-title .year {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  color: #999;
  vertical-align: top;
  font-style: normal;
}

.video-wrap .info-title .score {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: #ff6000;
  font-style: normal;
}

.video-wrap .result-info {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
}

.video-wrap .result-info.half {
  width: 50%;
}

.video-wrap .result-info .info-lbl {
  color: #999;
}

.video-wrap .result-info .info-des {
  color: #666;
  margin-left: 3px;
}

.video-wrap .result-bottom {
  height: 34px;
}

.video-wrap .result-bottom-pos {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.video-wrap .search-result-btn {
  display: inline-block;
  height: 34px;
  padding: 0 20px;
  margin-right: 15px;
  background: #00be06;
  border-radius: 34px;
  line-height: 34px;
  font-size: 16px;
  color: #fff;
  vertical-align: top;
  outline: none;
}
.video-wrap .search-player-source {
  float: right;
  position: relative;
  z-index: 10;
}
.video-wrap .search-player-source .play-source {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 0;
}
.video-wrap .search-player-source .player-name {
  font-size: 12px;
  color: #222;
  font-style: normal;
}

.video-wrap .movie-img {
  width: 180px;
  height: 236px;
  transition: all 0.25s ease-in-out;
  backface-visibility: hidden;
}

.search-result-album {
  position: relative;
}
.search-result-album .album-item {
  position: relative;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.search-result-album .album-item .album-link {
  display: block;
  width: 42px;
  height: 40px;
  background: #f8f8f8;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #222;
  outline: none;
  overflow: hidden;
}

.search-result-album .album-list {
  display: table;
  clear: both;
  margin: 0px;
  padding: 0px;
  margin-left: -17px;
  margin-top: 12px;
}
.search-result-album .album-item .album-link span {
  display: block;
  width: 38px;
  height: 40px;
  overflow: hidden;
  margin: auto;
}
.search-result-album .album-item .album-link:hover {
  background: #e8fcea;
  color: #00be06;
}
