.home-index-panle {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: calc(50vh - 210px);
  position: relative;
  height: 100%;
  background-color: #fff;
}

/*logo*/
.home-index-panle .home-logo {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
}

.home-index-panle .home-logo #logo {
  height: 6rem;
  width: 15.5rem;
}
/*logo*/

/*查询栏*/
.home-index-panle .home-search-group {
  max-width: 561px;
  width: 88%;
  margin-bottom: 1rem;
  border-radius: calc(0.5 * 44px);
  height: 47px;
  display: flex;
}
.home-index-panle .home-search-group .search-btn {
  width: calc(100% - 101px);
}

.home-index-panle .home-search-group .ant-btn {
  width: 101px;
  height: 100%;
  background: #4e6ef2;
  color: #fff;
  font-size: 1rem;
  border-radius: 0 10px 10px 0;
}

.home-index-panle .home-search-group .ant-select-selector {
  height: 100%;
  border: 2px solid #4569ff;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  color: #222;
}

.home-index-panle .home-search-group .ant-select-selection-placeholder {
  line-height: 2.4em;
  padding-left: 0.6rem;
  color: rgb(117, 117, 117);
  font-size: 1.1rem;
}

.home-index-panle
  .home-search-group
  .search-btn
  .ant-select-selector
  input.ant-select-selection-search-input {
  padding-left: 0.6rem;
  font-size: 1.1rem;
}

/*查询栏*/

/*缓存列表*/

.home-index-panle .search-collet {
  display: flex;
  flex-wrap: wrap;
  min-height: 10rem;
  justify-content: center;
  padding: 2px;
  opacity: 1;
  max-width: 581px;
  width: 88%;
  overflow-y: auto;
}
.home-index-panle .title-ltr {
  direction: ltr;
}

.home-index-panle .search-collet a {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 7rem;
  height: 7rem;
  position: relative;
  justify-content: center;
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding: 2px;
  color: rgb(60, 64, 67);
}

.home-index-panle .tile-icon {
  align-items: center;
  background-color: rgba(241, 243, 244, 1);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 3rem;
  justify-content: center;
  margin-top: 1rem;
  width: 3rem;
}

.home-index-panle .tile-icon i {
  width: 24px;
  height: 24px;
}

.home-index-panle .tile-title {
  align-items: center;
  border-radius: 1rem;
  color: rgb(60, 64, 67);
  display: flex;
  height: 2rem;
  line-height: 1rem;
  margin-top: 0.3rem;
  padding: 2px 8px;
  width: 100%;
}

.home-index-panle .tile-title span {
  font-weight: 400;
  text-align: center;
  text-shadow: none;
  width: 100%;
}
.home-index-panle .tile-icon .ant-image {
  height: 100%;
  width: 100%;
}

.home-index-panle .tile-icon .ant-image-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.home-index-panle .delete-books {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 1;
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  color: rgb(0 0 0 / 25%);
}

.home-index-panle .search-collet a:hover {
  background-color: rgba(32, 33, 36, 0.1);
}

/*缓存列表*/

/*移动端*/
.home-index-panle.mobile .home-search-group {
  height: 3.2rem;
}

.home-index-panle.mobile .home-search-group .ant-select-selection-placeholder {
  line-height: 2.6em;
}

.home-index-panle.mobile .search-collet a {
  width: 6rem;
  height: 6rem;
}

/*移动端*/
