.home-index-panle {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  min-width: fit-content;
  padding-top: 56px;
  position: relative;
  z-index: 1;
}

/*logo*/
.home-index-panle .home-logo {
  margin-bottom: 38px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  min-height: 200px;
}

.home-index-panle .home-logo #logo {
  forced-color-adjust: none;
  height: 108px;
  width: 272px;
}
/*logo*/

/*查询栏*/
.home-index-panle .home-search-group {
  width: 561px;
  margin-bottom: 16px;
  border-radius: calc(0.5 * 44px);
  font-size: 16px;
  height: 44px;
  display: flex;
}
.home-index-panle .home-search-group .search-btn {
  width: calc(100% - 101px);
  height: 44px;
}

.home-index-panle .home-search-group .ant-btn {
  width: 101px;
  height: 100%;
  background: #4e6ef2;
  color: #fff;
  font-size: 17px;
}

.home-index-panle .home-search-group .ant-select-selector {
  height: 44px;
  border: 2px solid #4569ff;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  color: #222;
}

.home-index-panle .home-search-group .ant-select-selection-search {
  left: 20px;
  font-size: 17px;
}

.home-index-panle .home-search-group .ant-select-selection-placeholder {
  line-height: 40px;
  padding-left: 13px;
  color: rgb(117, 117, 117);
  font-size: 15px;
}
/*查询栏*/

/*缓存列表*/

.home-index-panle .search-collet {
  display: flex;
  flex-wrap: wrap;
  min-height: 124px;
  justify-content: center;
  padding: 2px;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  width: 581px;
  overflow-y: auto;
}
.home-index-panle .el-input {
  height: 44px;
}

.home-index-panle .title-ltr {
  direction: ltr;
}

.home-index-panle .search-collet a {
  align-items: center;
  border-radius: 4px;
  opacity: 1;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 112px;
  outline: none;
  position: relative;
  text-decoration: none;
  width: 112px;
  justify-content: center;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 2px;
  color: rgb(60, 64, 67);
}

.home-index-panle .tile-icon {
  align-items: center;
  background-color: rgba(241, 243, 244, 1);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
  margin-top: 16px;
  width: 48px;
}

.home-index-panle .tile-icon i {
  width: 24px;
  height: 24px;
}

.home-index-panle .tile-title {
  align-items: center;
  border-radius: 18px;
  color: rgb(60, 64, 67);
  display: flex;
  height: 32px;
  line-height: 16px;
  margin-top: 6px;
  padding: 2px 8px;
  width: 100%;
}

.home-index-panle .tile-title span {
  font-weight: 400;
  text-align: center;
  text-shadow: none;
  width: 100%;
}
.home-index-panle .tile-icon .ant-image {
  height: 100%;
  width: 100%;
}

.home-index-panle .tile-icon .ant-image-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.home-index-panle .delete-books {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 1;
  transition-delay: 400ms;
  height: 28px;
  width: 28px;
  transition: opacity 100ms ease-in-out;
  font-size: 16px;
  margin: 4px 2px;
  color: rgb(0 0 0 / 25%);
}

.home-index-panle .search-collet a:hover {
  background-color: rgba(32, 33, 36, 0.1);
}

/*缓存列表*/
