.logo-bg {
  height: 40px;
  width: 103px;
  margin-right: 18px;
  margin-top: 19px;
}

.result-content .search-title {
  display: flex;
  padding: 0 1rem;
  position: relative;
}

.result-content .search-btn-group {
  height: 2.88rem;
  max-width: 700px;
  position: relative;
  display: flex;
  width: calc(100% - 300px);
  margin: 1rem 0px 0.5rem 0px;
}

.result-content .search-btn-group .search-btn {
  max-width: 590px;
  width: calc(100% - 98px);
  font-size: 1rem;
}

.result-content .search-btn-group .ant-select-selector {
  height: 100%;
}

.result-content .search-text-btn {
  width: 120px;
  cursor: pointer;
  background-color: #4e6ef2;
  border-radius: 0 10px 10px 0;
  font-size: 17px;
  box-shadow: none;
  font-weight: 400;
  border: 0;
  outline: 0;
  color: #fff;
  letter-spacing: normal;
}

.result-content .search-text-btn:hover {
  background: #4662d9;
  color: #fff;
}

.result-content .setting-txt {
  text-decoration: none;
  line-height: 24px;
  font-size: 13px;
  margin: 20px 0 0 24px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #222;
}

.result-content .search-right {
  position: absolute;
  right: 0;
  padding-right: 24px;
}

.result-content .filter-txt {
  color: #222;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 0;
  width: auto;
  min-width: 44px;
  margin-right: 7px;
  line-height: 28px;
  text-align: left;
  display: inline-block;
}

.content-panle {
  padding: 0px 80px 0px 163px;
}

.result-content .logo-bg {
  cursor: pointer;
}

.result-content .ant-tabs-nav {
  margin-bottom: 24px;
}

.result-content .ant-tabs-tab {
  padding: 0;
}

.result-content .ant-tabs-tab .anticon {
  margin: 0;
}

.result-content .ant-tabs-ink-bar {
  background: #4e6ef2;
}

/*移动端*/
.result-content.mobile .logo-bg {
  display: none;
}

.result-content.mobile .search-right {
  display: none;
}

.result-content.mobile .search-filter {
  padding-left: 18px;
}

.result-content.mobile .content-panle {
  padding: 0px;
}

.result-content.mobile .search-btn-group {
  width: 100%;
}

/*移动端*/
