.logo-bg {
  height: 40px;
  width: 103px;
  margin-right: 18px;
  margin-top: 19px;
}

.result-content .search-title {
  display: flex;
  padding: 0 1rem;
  position: relative;
}

.result-content .search-btn-group {
  height: 2.88rem;
  max-width: 700px;
  position: relative;
  display: flex;
  width: calc(100% - 300px);
  margin: 1rem 0px 0.5rem 0px;
}

.result-content .search-btn-group .search-btn {
  max-width: 590px;
  width: calc(100% - 98px);
  font-size: 1rem;
}

.result-content .search-btn-group .ant-select-selector {
  height: 100%;
}

.result-content .search-text-btn {
  width: 120px;
  cursor: pointer;
  background-color: #4e6ef2;
  border-radius: 0 10px 10px 0;
  font-size: 17px;
  box-shadow: none;
  font-weight: 400;
  border: 0;
  outline: 0;
  color: #fff;
  letter-spacing: normal;
}

.result-content .search-text-btn:hover {
  background: #4662d9;
  color: #fff;
}

.result-content .setting-txt {
  text-decoration: none;
  line-height: 24px;
  font-size: 13px;
  margin: 20px 0 0 24px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #222;
}

.result-content .search-right {
  position: absolute;
  right: 0;
  padding-right: 24px;
}

.result-content .filter-txt {
  color: #222;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 0;
  width: auto;
  min-width: 44px;
  margin-right: 27px;
  line-height: 28px;
  text-align: left;
  display: inline-block;
}

.result-content .filter-active:after {
  content: "";
  width: auto;
  min-width: 47px;
  height: 2px;
  background: #4e6ef2;
  border-radius: 1px;
  display: block;
  margin-top: 1px;
}

.content-panle {
  padding: 0px 80px 0px 163px;
}

.result-content .search-content-panle {
  height: calc(100vh - 121px);
  min-height: 200px;
  position: relative;
  margin-top: 18px;
}

.result-content .wrapper {
  display: inline-block;
  padding-left: 0px;
  width: 100%;
}

.result-content .books-wrapper .book-item {
  display: flex;
  float: left;
  margin-bottom: 2rem;
  width: 33%;
  min-width: 200px;
  max-width: 360px;
  padding-right: 10px;
}

.result-content .books-wrapper {
  height: 100%;
}
.result-content .cover-img {
  width: 4.125rem;
  height: 5.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 0 5px #f9f2e9;
}

.result-content .cover-img .cover {
  height: 100%;
}

.result-content .book-info {
  position: relative;
  right: 0px;
  width: calc(100% - 4.625rem);
  height: 5.5rem;
}

.result-content .book-name {
  font-size: 16px;
  margin-bottom: 0.3rem;
  cursor: pointer;
  line-height: 1.4;
  color: #33373d;
  font-weight: 600;
}
.result-content .book-name:hover {
  color: #ed4259;
}
.result-content .book-author {
  color: #a6a6a6;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
}
.result-content .book-author i {
  margin-right: 5px;
}

.result-content .book-operation {
  position: absolute;
  right: 0px;
}

.result-content .last-chapter a {
  color: #666;
  width: calc(100% - 65px);
}

.result-content .last-chapter a:active {
  color: #096dd9;
}

.result-content .last-chapter a:hover {
  color: #40a9ff;
}

.result-content .book-content-details {
  width: 100%;
  height: 2.25rem;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  color: #969ba3;
}

.result-content .logo-bg {
  cursor: pointer;
}

.result-content .book-author-title {
  width: calc(100% - 54px);
}

.result-content .book-author a {
  border: 1px solid #df9591;
  color: #bf2c24;
  padding: 0px 2px;
}

.ant-image {
  height: 100%;
}

/*移动端*/
.result-content.mobile .logo-bg {
  display: none;
}

.result-content.mobile .search-right {
  display: none;
}

.result-content.mobile .search-filter {
  padding-left: 18px;
}

.result-content.mobile .search-content-panle {
  padding-left: 18px;
  padding-right: 18px;
}

.result-content.mobile .content-panle {
  padding: 0px;
}

.result-content.mobile .books-wrapper .book-item {
  width: 100%;
}
.result-content.mobile .search-btn-group {
  width: 100%;
}

/*移动端*/
