.book-content-wrap .read-content p {
  line-height: 1.8;
  overflow: hidden;
  margin: 0.1em 0;
  text-indent: 1em;
  font-size: 1.1rem;
}
.mobile .book-content-wrap .read-content p {
  font-size: 1.3rem;
}
