.book-index-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 25px;
}

@media (max-width: 1280px) {
  .book-index-wrap {
    margin: 0 auto;
    width: 990px;
  }
}

.lang {
  font-family: FZZCYSK;
  font-weight: 400;
}
.rank-list {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 212px;
  z-index: 1;
}
h3.wrap-title {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  height: 34px;
  line-height: 32px;
  overflow: hidden;
}
.loaded a {
  transition: color 0.3s, background-color 0.3s;
}
a {
  color: #262626;
  outline: none;
  text-decoration: none;
}
cite,
em,
i {
  font-style: normal;
}
li,
ol,
ul {
  list-style: none outside none;
}
a,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.rank-list .book-list li {
  clear: both;
  height: 31px;
  *vertical-align: bottom;
}
.rank-list .book-list li .num-box {
  float: left;
  height: 32px;
  width: 28px;
}
.rank-list .book-list li .name-box {
  border-top: 1px solid #e6e6e6;
  float: left;
  height: 30px;
  position: relative;
}

.rank-list .book-list li .name-box a h2,
.rank-list .book-list li .name-box a.name {
  color: #1a1a1a;
  height: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rank-list .book-list li .name-box a {
  float: left;
  font: 14px/31px PingFangSC-Regular, -apple-system, Simsun;
  width: 112px;
}
.rank-list .book-list li .name-box i.total {
  color: #b3b3b3;
  float: right;
  font: 12px/32px PingFangSC-Regular, -apple-system, Simsun;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: normal;
  width: 72px;
}
.rank-list .book-list li .num-box span {
  background: #ededed;
  color: #666;
  display: block;
  font: 700 14px/16px Arial;
  height: 16px;
  letter-spacing: -1px;
  margin-top: 8px;
  overflow: hidden;
  text-align: center;
  width: 16px;
}
.update-wrap .update-list-wrap .update-tab,
h3.wrap-title {
  border-bottom: 1px solid #666;
}
@media (max-width: 1280px) {
  .rank-list .book-list li .name-box i.total {
    width: 81px;
  }
}

@media (max-width: 1250px) {
  .rank-list-row {
    width: auto;
  }
}
.rank-list-row {
  overflow: hidden;
  width: 101%;
}
