cite,
em,
i {
  font-style: normal;
}

p {
  word-wrap: break-word;
  word-break: break-all;
}
li,
ol,
ul {
  list-style: none outside none;
}

.book-index-bj {
  background: url("@/assets/imgs/book-index-bj.jpg") no-repeat;
  height: 338px;
  background-size: cover;
  position: relative;
}

.book-index-bj::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px -29px 30px 0px #ffffff inset;
}

.book-detail-wrap {
  position: relative;
  z-index: 10;
  min-height: 700px;
  text-align: left;
  color: #262626;
}
.book-index-mian {
  margin: 0 auto;
  margin-top: -338px;
  width: 85%;
  max-width: 990px;
}
.border-shadow {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 98px;
  margin: 0 auto;
  border: 2px solid #e9e9e9;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
.book-information {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  background: #fff;
  height: 234px;
  margin-top: -98px;
  padding: 20px 0px 0px 20px;
}

.book-information .book-img {
  float: left;
  margin-right: 20px;
  height: 100%;
}

.book-information .book-info {
  float: left;
  width: calc(100% - 184px);
  height: 100%;
}

.book-information .book-img a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 6px rgb(0 0 0 / 35%), 0 0 5px #f9f2e9 inset;
}

.book-information .book-info h1 {
  font: 700 28px/38px PingFangSC-Regular, HelveticaNeue-Light,
    "Helvetica Neue Light", "Microsoft YaHei", sans-serif;
  overflow: hidden;
  height: 38px;
  margin-bottom: 12px;
}
.book-information .book-info h1 span {
  font: 14px/20px PingFangSC-Regular, "-apple-system", Simsun;
  margin-left: 20px;
}
.book-information .book-info .tag {
  font-size: 0;
  overflow: hidden;
  height: 25px;
  margin-bottom: 12px;
}

.book-information .book-info .tag + p + p {
  overflow: hidden;
  height: 24px;
  margin-bottom: 14px;
  color: #666;
}

.book-information .book-info .tag a.blue,
.book-information .book-info .tag span.blue {
  color: #3f5a93;
  border-color: #9fadc9;
}

.book-information .book-info .tag a,
.book-information .book-info .tag span {
  font: 12px/22px PingFangSC-Regular, "-apple-system", Simsun;
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-right: 12px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
}

.book-information .book-info .tag + .intro {
  font: 14px/20px PingFangSC-Regular, "-apple-system", Simsun;
  overflow: hidden;
  height: 20px;
  margin-bottom: 11px;
}

.book-information .book-info .tag + p + p em {
  font: 20px/22px Arial;
  letter-spacing: 0.5px;
  color: #262626;
}

.book-information .book-info .tag + p + p cite,
.book-information .book-info .tag + p + p em,
.book-information .book-info .tag + p + p i {
  float: left;
}

.book-information .book-info .tag + p + p cite {
  font: 12px/20px PingFangSC-Regular, "-apple-system", Simsun;
  margin-top: 2px;
  margin-left: 3px;
}

.book-information .book-info .book-info-details {
  height: calc(100% - 37px);
}

.book-information .book-info .tag + p + p i {
  font: 18px/22px PingFangSC-Regular, "-apple-system", Simsun;
  margin: 0 10px;
  color: #e6e6e6;
}

.szWntGoi {
  font-family: "szWntGoi" !important;
  display: initial !important;
  color: inherit !important;
  vertical-align: initial !important;
}

.blue-btn {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #3f5a93;
  border-color: #3f5a93;
}

.book-information .book-info a.blue-btn {
  font: 14px/34px PingFangSC-Regular, "-apple-system", Simsun;
  display: inline-block;
  width: 102px;
  height: 36px;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
}


/*标签分页*/

.book-information .ant-tabs > .ant-tabs-nav {
  height: 41px;
}

.ant-tabs-tab {
  padding: 1px 0;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0 0 34px 0;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  font: 18px/40px FZZCYSK;
  float: left;
  overflow: hidden;
  height: 40px;
  padding: 0 21px;
  text-align: center;
  font-weight: 500;
  font-family: FZZCYSK;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab:hover,
.ant-tabs-tab-remove:active {
  color: #ed4259;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ed4259;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background: #ed4259;
}

/*标签分页*/

/*移动端*/
.mobile .catalog-list-wrap .volume-list li {
  width: 50%;
}

.mobile .book-information .book-info .tag + p + p {
  display: none;
}

/*移动端*/
