.book-index-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 25px;
  min-height: 300px;
}

@media (max-width: 1280px) {
  .book-index-wrap {
    margin: 0 auto;
    width: 990px;
  }
}
.new-rec-wrap {
  min-height: 200px;
}

.lang {
  font-family: FZZCYSK;
  font-weight: 400;
}
.rank-list {
  margin-right: 30px;
  position: relative;
  width: calc(20% - 30px);
  z-index: 1;
  display: inline-block;
}
h3.wrap-title {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  height: 34px;
  line-height: 32px;
  overflow: hidden;
}
.loaded a {
  transition: color 0.3s, background-color 0.3s;
}
a {
  color: #262626;
  outline: none;
  text-decoration: none;
}
cite,
em,
i {
  font-style: normal;
}
li,
ol,
ul {
  list-style: none outside none;
}
a,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.rank-list .book-list li {
  clear: both;
  height: 31px;
  display: flex;
}
.rank-list .book-list li .num-box {
  height: 32px;
  width: 28px;
}
.rank-list .book-list li .name-box {
  border-top: 1px solid #e6e6e6;
  height: 30px;
  position: relative;
  width: calc(100% - 18px);
}

.rank-list .book-list li .name-box a h2,
.rank-list .book-list li .name-box a.name {
  color: #1a1a1a;
  height: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rank-list .book-list li .name-box a {
  float: left;
  font: 14px/31px PingFangSC-Regular, -apple-system, Simsun;
  width: 164px;
}
.rank-list .book-list li .name-box i.total {
  color: #b3b3b3;
  float: right;
  font: 12px/32px PingFangSC-Regular, -apple-system, Simsun;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: normal;
  width: 18px;
}
.rank-list .book-list li .num-box span {
  background: #ededed;
  color: #666;
  display: block;
  font: 700 14px/16px Arial;
  height: 16px;
  letter-spacing: -1px;
  margin-top: 8px;
  overflow: hidden;
  text-align: center;
  width: 16px;
}
.update-wrap .update-list-wrap .update-tab,
h3.wrap-title {
  border-bottom: 1px solid #666;
}

.hot-classify-wrap{
  min-height: 300px;
}

.hot-classify-wrap .hot-book-list dd {
  max-height: 32px;
  display: flex;
  align-items: center;
}
.hot-classify-wrap .hot-book-list dd a {
  color: #1a1a1a;
  float: left;
  font: 14px/32px PingFangSC-Regular, -apple-system, Simsun;
}
.hot-classify-wrap .hot-book-list dd a.name {
  height: 32px;
  max-width: 168px;
  overflow: hidden;
}
.hot-classify-wrap .hot-book-list dd .classify {
  color: gray;
  margin-left: -8px;
}

.hot-book-list {
  margin-top: 8px;
}
.center-book-list ul {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.book-img {
  height: 96px;
  margin-right: 12px;
  width: 72px;
}
.center-book-list ul li {
  float: left;
  height: 96px;
  margin: 0 30px 43px 0;
  width: 370px;
}
.center-book-list ul li .book-info {
  width: 255px;
}
.center-book-list ul li .book-info h3 a {
  color: #1a1a1a;
}
.center-book-list ul li .book-info p {
  color: #666;
  font: 12px/20px PingFangSC-Regular, -apple-system, Simsun;
  height: 40px;
  margin-bottom: 10px;
  overflow: hidden;
}
.state-box {
  display: flex;
  align-items: center;
  color: #a6a6a6;
}
.state-box .author {
  overflow: hidden;
  padding-right: 10px;
  margin-left: 5px;
}
.center-book-list ul li .book-img,
.center-book-list ul li .book-info {
  float: left;
}

.hot-classify-wrap li {
  position: relative;
  width: 33%;
  display: inline-block;
  padding-right: 31px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1280px) {
  .rank-list .book-list li .name-box i.total {
    width: 81px;
  }
}

@media (max-width: 1250px) {
  .rank-list-row {
    width: auto;
  }
}
.rank-list-row {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}
