.left-bar-list {
  z-index: 102;
  top: 0px;
  position: fixed;
  margin-left: 25px;
  width: 54px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAgMAAABjUWAiAAAACVBMVEX28ef48+n69esoK7jYAAAB4UlEQVQozw2OsW4bQQxEhwLXkDrysGdEqRRgVShfQQq8wOr2jD0jSpXCLvwXbtKfADlFqgSwC/9ljqweZgYzQFnb/QGepYhA9jzmTc1WaSEtQpbFgjWATI00ZZtIckXx8q2Oe5yEByBy+RHOTcM+VVTadULsvxvRC/q8WTwgcWGD+Mnaqa0oy2gw2pKFzK+PzEsus5hP9AHojKslVynLlioVTBEN8cjDNnZoR1uMGTiZAAN47HxMtEkGUE9b8HWzkqNX5Lpk0yVziAJOs46rK1pG/xNuXLjz95fSDoJE5IqG23MAYPtWoeWPvfVtIV/Ng9oH3W0gGMPIOqd4MK4QZ55dV61gOb8Zxp7I9qayaGxp6Q91cmC0ZRdBwEQVHWzSAanlZwVWc9yljeTCeaHjBVvlPSLeyeBUT2rPdJegQI103jVS3uYkyIx1il6mslMDedZuOkwzolsagvPuQAfp7cYg7k9V1NOxfq64PNSvMdwONV4VYEmqlbpZy5OAakRKkjPnL4CBv5/OZRgoWHBmNbxB0LgB1I4vXFj93UoF2/0TPEsWwV9EhbIiTPqYoTHYoMn3enTDjmrFeDTIzaL1bUC/PBIMuF+vSSYSaxoVt90EO3Gu1zrMuMRGUk7Ffv3L+A931Gsb/yBoIgAAAABJRU5ErkJggg==)
    repeat;
}

.left-bar-list dl {
  margin: 0;
}

.left-bar-list dd {
  position: relative;
  z-index: 100;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  margin-bottom: 0px;
}

.left-bar-list dd a {
  font: 12px/16px PingFangSC-Regular, "-apple-system", Simsun;
  display: block;
  text-align: center;
  padding-top: 7px;
  height: 100%;
  padding-bottom: 6px;
}

.left-bar-list dd:first-child {
  border-top: 1px solid #0000001a;
}
.left-bar-list dd a i {
  font-size: 16px;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto 6px;
}

.left-bar-list dd a span:first-child {
  color: #000;
  font-size: 16px;
  margin-bottom: 6px;
}

.left-bar-list dd a span:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: block;
}

/*移动端*/
.left-bar-list.mobile {
  position: fixed;
  margin: 0px;
  top: calc(100vh - 58px);
  width: 100%;
  background: #41403e;
}

.left-bar-list.mobile dl {
  display: flex;
  margin: 0px;
}

.left-bar-list.mobile dd {
  width: 25%;
  height: 3.6rem;
}

.left-bar-list.mobile dd:first-child {
  border: none;
}

.left-bar-list.mobile dd {
  border: none;
}

.left-bar-list.mobile dd a span:first-child {
  color: rgba(255, 255, 255, 0.8);
}

.left-bar-list.mobile dd a span:last-child {
  color: rgba(255, 255, 255, 0.8);
}

/*移动端*/
